@model RoleFromViewModel
 <form asp-action="Add" method="post">
     <div class="input-group mb-3">
       <input asp-for="Name" class="form-control"placeholder="Role Name.."  /> 
         <div class="input-group-append">
             <button type="submit" class="btn-primary btn" >Add Role </button>
             
         </div>

         <span asp-validation-for="Name" class="text-danger"> </span>
     </div>
     
 </form>
